VITE_SUPABASE_URL=https://cmjkferokecxvtyslvmj.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtamtmZXJva2VjeHZ0eXNsdm1qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2ODUxOTIsImV4cCI6MjEwNDI2MTE5Mn0.aPpGC0OWPJ-gzst224QGYo-RALnT4Dg3lgFtyY6LJy8

