VITE_SUPABASE_URL=https://menfmxwwjibtonggwgun.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lbmZteHd3amlidG9uZ2d3Z3VuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNDIzNTIsImV4cCI6MjA5MDYxODM1Mn0.F9g0VnE-8rniKv8ljM9jWapDy4Y1TiY1R6Ab9yiqVbA
